
.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-Raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common styles */
.btn_1{
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    background-color: #4E47FF;
    border: none;
    padding: 15px 36px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
}
.btn_1:hover{
    font-size: 18;
    background-color: aqua;
    color:black;
}
.text_center{
    text-align: center;
}
/* nav style */
header {
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    background-size: cover;
}
.logo h1 {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 160px;
}
/* Banner style */
.Banner{
    max-width: 900px;
    height: auto;
    margin: 0 auto;
}
.Banner h2{
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}


.banner_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Action styles */
.action_items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.action_container{
    max-width: 517px;
    height: auto;
}
.action_container h2{
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}
.action_container p{
    font-size: 24px;
    font-weight: 400;
    color:rgba(37, 36, 50, 0.5);
}
.action_image img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/*  Productive Users Section */
.productive_container{
    max-width: 1140px;
    height: 300px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 116px auto;
    border-radius: 24px;
    
}
.productive_container h2{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    padding-top: 44px;
}
.productive-items h3{
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    margin: 0px;
}
.productive_items{
    display: flex;
    gap: 138px ;
    justify-content: space-around;
}
.productive-items h4{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
/* Review style */
.Review_conatainer{
    margin-top: 145px;
}
.Review_conatainer h2{
    color: #252432;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
.review_items{
    display: flex;
    margin-top: 50px;
}
.revier_item{
    box-shadow:3px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    border: 1px solid #D6DDED;
    border-radius: 14px;
    margin-right: 20px;
    padding: 25px 20px;
}
.revier_item h3{
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.revier_item p{
    font-size: 20px;
    font-weight: 400;
    color: #252432;
    margin-top: 0;
}
.heading h4{
font-size: 18px;
font-weight: 400;
color:#757575 ;
margin: 0;

}

.review_comment {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
.heading h5{
font-size: 16px;
font-weight: 400;
color: rgba(37, 36, 50, 0.5);
margin: 0;

}
.image img{
    height: 40px;
    width:40px ;
    border-radius: 50%;
}
/* focus style */
.focus_container{
    margin: 0 auto;
}
.focus_container h2{
    font-size: 50px;
    color: #000;
    font-weight: 700;
    text-align: center;
    
}

.focus_container h3{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

}
.focus_img{
    text-align: center;
}
.focus_img img{
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

.button_3{
    text-align: center;
}
/* Touch style */
.touch_header h2{
    font-size: 97px;
    font-weight: 700;
    color: #000;
}
.touch_form input[type="email"],input[type="text"],textarea{
    display: block;
    border-radius: 10px;
    color: #000;
    border: 1px solid #D6DDED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding:10px 20px ;
    width: 400px;
    height: 60px;
    margin-top: 19px;
    margin-bottom: 12px;
}

.touch_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 632px;
}
.touch_header{
    width: 550px;
    height: auto;
}
.botton{
    display: block;
    width: 438px;
    height: auto;
        font-size: 16px;
    font-weight: 700;
    color:#fff;
    background-color: #4E47FF;
    border: none;
    padding: 15px 36px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 19px;
}
.botton:hover{
    font-size: 18px;
    background-color: aqua;
    color:black;
}

label{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.touch_container{
    margin: 200px auto;
}